@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-green-500;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.shine {
  @apply hover:text-green-500 transition-colors ease-in-out duration-500;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
